@import "bootstrap/scss/bootstrap";
@import 'components/variables';
@import 'components/typhography';
@import 'components/cards';
@import 'components/comments';
@import 'components/img';
@import 'components/scrollbar';
@import 'components/header.scss';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 650px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
